{% extends 'base.html.twig' %}

{% block title %}Studies{% endblock %}

{% block body %}
    <nav class="mt-2" aria-label="breadcrumb">
        <ol class="breadcrumb bg-warning">
            <li class="breadcrumb-item"><a href="{{ path('app_homepage') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Studies list</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-2">
            <div class="btn-group-vertical" role="group">
                <a href="{{ path('study_new') }}" class="btn btn-primary btn-sm"><i class="fas fa-plus" aria-hidden="true"></i> New study</a>
            </div>
        </div>
        <div class="col-sm">
            <table class="table table-sm table-bordered">
                <thead>
                <tr class="table-info">
                    <th scope="col">Id</th>
                    <th scope="col">Code</th>
                    <th scope="col">Title</th>
                    <th scope="col" class="text-center"><i class="fas fa-cogs" aria-hidden="true"></i>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for study in studies %}
                    <tr class="table-secondary">
                        <th scope="row">{{ study.id }}</th>
                        <td>{{ study.code }}</td>
                        <td>{{ study.title }}</td>
                        <td class="text-center">
                            <div>
                                <a href="{{ path('study_show', {id:study.id}) }}" class="btn btn-sm btn-secondary"><i class="fas fa-eye" aria-hidden="true"></i> Show</a>
                                <a href="#" class="btn btn-sm btn-dark"><i class="fas fa-edit" aria-hidden="true"></i> Edit</a>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" align="center">No studies found!</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}